/*---------------------Navbar-----*/

nav {
    background-color: #56282D;
}

.brand-logo {
    margin-left: 10px;
}

/*---------------------Index page-----*/

.parallax-container {
    height: 300px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.responsive {
    width: 100%;
    height: auto;
}

.main-header {
    color: #626D58;
}

.promotion-font {
    font-size: 20px;
    color: white;
}

.promotion-section {
    background-color: #626D58;
}

.intro-container {
    padding-top: 20px;
}

/*---------------------Recipes page-----*/

.recipes-container {
    min-height: 71.8vh;
	background: url("../css/images/recipes-marble.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;  
}

.rec-card {
    margin-bottom: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 280px;   
    max-height: 306px;
}

.content-margin {
    margin-bottom: 0;
}

.card-header {
    color: #544343;
}

.card-panel {
    margin-top: 20px;
}

.card-icons {
    color: #544343;
    font-size: 35px;
}

.img-sizing {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.margin-fix {
    margin-bottom: 0;
}

.buttons-col {
    margin-top: 20px;
    margin-bottom: 15px;
}
/*---------------------Add recipe page-----*/

.add-container {
    min-height: 71.8vh;
	background: url("../css/images/login-greens.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*---------------------Recipe page-----*/

.recipe-container {
    background-color: rgba(84, 67, 67, 0.2)
}

.recipe-image {
    padding-right: 10px;
    padding-bottom: 10px;
}

.recipe-header {
    margin-top: 0;
}

.recipe-content {
    padding-top: 30px;
}

.responsive-img{
    border-radius: 10%;
    margin-top: 15px;
    max-height: 350px;
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tabs .indicator {
    background-color: #56282d;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #56282d14;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #544343;
}

.tabs .tab a {
    color: #bb9597;
}

blockquote {
    border-left: 5px solid #56282d;
}

.modal.modal-fixed-footer {
    max-height: 210px;
    max-width: 450px;
    
}

.modal-question {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
} 

.modal .modal-footer {
    text-align: center;
}

.cancel {
    background-color: grey;
}

/*---------------------Favourites page-----*/
.text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*---------------------Register page-----*/

.register-container {
    min-height: 71.8vh;
	background: url("../css/images/register-spices.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.register-header {
    margin-top: 0;
}

.input-field>label {
    color: #615a5a;
}

/*---------------------Login-----*/

.login-container {
    min-height: 71.8vh;
	background: url("../css/images/login-greens.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login-form {
    margin-top: 40px;    
}

/*---------------------Profile page-----*/

.profile-container {
    min-height: 71.8vh;
	background: url("../css/images/recipes-marble.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

/*---------------------Universal-----*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.capitalized {
    text-transform: capitalize;
}

.link {
    color: black;
}

main {
    flex: 1 0 auto;
}

.recipe-header {
    margin-top:0;
}

.wine {
    color: #56282D;
}

.wine-back {
    background-color: #56282D;
}

.dark-liver {
    color: #544343;
}

.btns-dark {
    background-color: #544343;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #56282d91;
}

.flashes-bck {
    background-color: #56282dab;
    margin: 0;
    line-height: 2;
}

.flashes {
    margin-bottom: 0;
}

/*---------------------Errors-----*/

.error-container {
    min-height: 71.8vh;
	background: url("../css/images/404-image.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

.go-home {
    background-color: #5a5a5a;
}

.centered {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*---------------------Footer-----*/

.footer-container {
    background-color: #56282d;
}

.footer-icons {
    color: #b2a4a4;
    font-size: 1.85rem;
}

/*---------------------@media-----*/

@media (max-width: 767.98px) {
    .img-sizing {
        width: 100%;
        max-height: 180px;
        object-fit: cover;
    }
}

@media (max-width: 600px) {
    .recipe-description {
        margin-left: 20px;
    }
    .recipe-header {
    margin-top: 10px;
    }
}
