nav {
    background-color: #56282D;
}

.parallax-container {
    height: 300px;
}

.card-header {
    color: #544343;
}

.card-icons {
    color: #544343;
    font-size: 35px;
}

.responsive {
  width: 100%;
  height: auto;
}

.promotion-section {
    background-color: #626D58;
}

.main-header {
    color: #626D58;
}

.promotion-font {
    font-size: 20px;
    color: white;
}

.wine {
    color: #56282D;
}

.dark-liver {
    color: #544343;
}

.btns-dark {
    background-color: #544343;
}

.register-header {
    margin-top: 0;
}

.register-container {
    height: 80vh;
	background: url("../css/images/register-spices.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-container {
    height: 80vh;
	background: url("../css/images/login-greens.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
