nav {
    background-color: #56282D;
}

.parallax-container {
    height: 300px;
}

.card-header {
    color: #544343;
}

.card-icons {
    color: #544343;
    font-size: 35px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.responsive {
  width: 100%;
  height: auto;
}

.promotion-section {
    background-color: #626D58;
}

.main-header {
    color: #626D58;
}

.promotion-font {
    font-size: 20px;
    color: white;
}

.wine {
    color: #56282D;
}

.wine-back {
    background-color: #56282D;
}

.dark-liver {
    color: #544343;
}

.btns-dark {
    background-color: #544343;
}

.register-header {
    margin-top: 0;
}

.register-container {
    height: 80vh;
	background: url("../css/images/register-spices.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-container {
    height: 80vh;
	background: url("../css/images/login-greens.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.recipes-container {
    min-height: 90vh;
	background: url("../css/images/recipes-marble.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.profile-container {
    min-height: 90vh;
	background: url("../css/images/recipes-marble.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.intro-container {
    padding-top: 20px;
}

.margin-fix {
    margin-bottom: 0;
}

.buttons-col {
    margin-top: 20px;
    margin-bottom: 15px;
}

.recipe-image {
    padding-right: 10px;
    padding-bottom: 10px;
}

.recipe-header {
    margin-top: 0;
}

.rec-card {
    margin-bottom: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 280px;
    min-width: 280px;
    max-height: 306px;
}

.text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.img-sizing {
    width: 120px;
    height: 180px;
    object-fit: cover;
}

.content-margin {
    margin-bottom: 0;
}

.link {
    color: black;
}

@media (max-width: 767.98px) {
    .img-sizing {
        max-width: 115px;
        max-height: 180px;
        object-fit: cover;
    }
}

.recipe-container {
    background-color: rgba(84, 67, 67, 0.2)
}

.recipe-content {
    padding-top: 30px;
}

.responsive-img{
 border-radius: 10%;
 margin-top: 15px;
 max-height: 350px;
 max-width: 40%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}


