<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>CookEasy</title>
</head>

<body>

    <header>
        <!-- top navbar -->
        <ul id="categories_list1" class="dropdown-content">
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'All-in-one') }}"
                    class="black-text">All-in-one</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Cheap Solutions') }}" class="black-text">Cheap
                    Solutions</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Baked goods') }}" class="black-text">Baked
                    goods</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'For Kids') }}" class="black-text">For Kids</a>
            </li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Quick and easy') }}" class="black-text">Quick
                    and easy</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Celebration dinners') }}"
                    class="black-text">Celebration dinners</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Dishes') }}" class="black-text">Dishes</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Vegetarian') }}"
                    class="black-text">Vegetarian</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Vegan') }}" class="black-text">Vegan</a></li>
        </ul>

        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="{{ url_for('index') }}" class="brand-logo left">CookEasy</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-user dark"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-trigger" href="#!" data-target="categories_list1">Categories</a></li>                        
                    <li><a href="{{ url_for('get_all_recipes') }}">Recipes</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('favourites', user=session.user) }}">Favourites</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>                
            </div>
        </nav>

        <!-- mobile sidenavbar -->
        <ul id="categories_list2" class="dropdown-content">
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'All-in-one') }}"
                    class="black-text">All-in-one</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Cheap Solutions') }}" class="black-text">Cheap
                    Solutions</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Baked goods') }}" class="black-text">Baked
                    goods</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'For Kids') }}" class="black-text">For Kids</a>
            </li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Quick and easy') }}" class="black-text">Quick
                    and easy</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Celebration dinners') }}"
                    class="black-text">Celebration dinners</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Dishes') }}" class="black-text">Dishes</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Vegetarian') }}"
                    class="black-text">Vegetarian</a></li>
            <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Vegan') }}" class="black-text">Vegan</a></li>
        </ul>

        <ul class="sidenav" id="mobile-demo">
            <li><a class="dropdown-trigger" href="#!" data-target="categories_list2">Categories</a></li>                
            <li><a href="{{ url_for('get_all_recipes') }}">Recipes</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('favourites', user=session.user) }}">Favourites</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages  %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h5 class="flashes-bck white-text center-align">{{ message }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>


    {% block content %}
    {% endblock %}

    <footer class="page-footer footer-container">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text">CookEasy</h5>
                    <p><i class="fas fa-map-marker-alt footer-icons"></i> Unit 15 Parkwest Ent Ctr, 12 Dublin</p>
                    <p><i class="fas fa-envelope footer-icons"></i> contact@cookeasy.com</p>
                    <p><i class="fas fa-phone-alt footer-icons"></i> (01)4623444</p> 
                </div>
                
                <div class="col l4 s12">
                    <h5 class="white-text"><strong>Follow CookEasy</strong></h5>
                    <ul>
                        <li><a href="https://www.facebook.com/" class="footer-icons" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.twitter.com/" class="footer-icons" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/" class="footer-icons" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/" class="footer-icons" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">betterkitchen</h5>
                    <p class="grey-text text-lighten-4">
                        <i class="fas fa-map-marker-alt footer-icons"></i> Tramway Ct Old Blessington Rd Tallaght Village Dublin 24<br>
                    </p>
                    <p><i class="fas fa-phone-alt footer-icons"></i> (01)4623392</p>
                    <p><i class="fas fa-envelope footer-icons"></i> contact@betterkitchen.com</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 Copyright
                <a class="grey-text text-lighten-4 right" href="https://www.freepik.com/photos/background">Background photo created by rawpixel.com - www.freepik.com</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}


</body>

</html>