<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>CookEasy</title>
</head>

<body>

    <header>
        <!-- top navbar -->
        <nav class="text-shadow nav-extended">
            <div class="nav-wrapper">
                <a href="{{ url_for('index') }}" class="brand-logo left">CookEasy</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-user dark"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Categories</a></li>
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="{{ url_for('categorised_recipes', get_category_name = 'All-in-one') }}" class="black-text">All-in-one</a></li>
                        <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Cheap Solutions') }}" class="black-text">Cheap Solutions</a></li>
                        <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Baked goods') }}" class="black-text">Baked goods</a></li>
                        <li><a href="{{ url_for('categorised_recipes', get_category_name = 'For Kids') }}" class="black-text">For Kids</a></li>
                        <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Quick and easy') }}" class="black-text">Quick and easy</a></li>
                        <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Celebration dinners') }}" class="black-text">Celebration dinners</a></li>
                        <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Dishes') }}" class="black-text">Dishes</a></li>
                        <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Vegetarian') }}" class="black-text">Vegetarian</a></li>
                        <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Vegan') }}" class="black-text">Vegan</a></li>
                    </ul>
                    <li><a href="{{ url_for('get_all_recipes') }}">Recipes</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="#">Log Out</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                </ul>


            </div>
        </nav>

        <!-- mobile sidenavbar -->
        <ul class="sidenav" id="mobile-demo">
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Categories</a></li>
            <ul id="dropdown2" class="dropdown-content">
                <li><a href="{{ url_for('categorised_recipes', get_category_name = 'All-in-one') }}" class="black-text">All-in-one</a></li>
                <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Cheap Solutions') }}" class="black-text">Cheap Solutions</a></li>
                <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Baked goods') }}" class="black-text">Baked goods</a></li>
                <li><a href="{{ url_for('categorised_recipes', get_category_name = 'For Kids') }}" class="black-text">For Kids</a></li>
                <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Quick and easy') }}" class="black-text">Quick and easy</a></li>
                <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Celebration dinners') }}" class="black-text">Celebration dinners</a></li>
                <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Dishes') }}" class="black-text">Dishes</a></li>
                <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Vegetarian') }}" class="black-text">Vegetarian</a></li>
                <li><a href="{{ url_for('categorised_recipes', get_category_name = 'Vegan') }}" class="black-text">Vegan</a></li>
            </ul>
            <li><a href="{{ url_for('get_all_recipes') }}">Recipes</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="#">Log Out</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>

    </header>


    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}


</body>

</html>