{% extends "base.html" %}
{% block content %}
    
    <section class="recipes-container">
            <div class="container intro-container">
                <div class="row">
                    <h3 class="center-align text-shadow wine">{{ category }}</h3>
                <!-- Add reipe button if user loged in -->
                {% if session.user %}
                    <div class="row center">
                        <a href="{{ url_for('add_recipe') }}" class="btn-floating tooltipped btn-large wine-back"><i class="fas fa-folder-plus prefix center card-icons"></i></a>
                    </div>
                {% endif %} 

                    {% for recipe in recipes %}
                        <!-- Recipe cards content -->
                        <div class="col s12 l6">
                            <div class="card-panel rec-card">
                                <div class="card-main">
                                    <div class="row content-margin">
                                        <div class="recipe-image col s5 m5 center container">
                                            <img class="img-sizing" alt="{{ recipe.rec_name }}" src="{{ recipe.rec_img }}">
                                        </div>
                                        <div class="content-margin col s7 m7 right container">
                                            <h5 class="recipe-header"><strong><a class="link" href="{{ url_for('recipe', recipe_id=recipe._id) }}">{{ recipe.rec_name }}</a></strong></h5>
                                            <p class="text">{{ recipe.description }}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row recipe-footer">
                                            <p class="col s4 center"><strong>Serves: {{ recipe.serves }}</strong></p>
                                            <p class="col s4 center"><strong>Cooking time: {{ recipe.cook_time }} min</strong></p>
                                            <p class="col s4 center"><strong>Level: {{ recipe.level }}</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    {% endfor %}

                </div>
            </div>
    </section>

{% endblock %}