{% extends "base.html" %}
{% block content %}

    <section class="recipes-container">
        <div class=" container intro-container">
            <div class="row grey lighten-5">
                <form action="{{ url_for('search') }}" method="POST" class="col s12">
                    <div class="row margin-fix center-align">
                        <div class="input-field col s12 m8">
                            <i class="fas fa-search prefix"></i>
                            <input type="text" name="query" id="query" minlength="3" class="validate" required>
                            <label for="query">Search Recipe</label>
                        </div>
                        <div class="col s12 m4 buttons-col">
                            <a href="{{ url_for('get_all_recipes') }}" class="wine-back btn">Reset</a>
                            <button type="submit" class="wine-back btn">
                                Search
                            </button>
"Styling"                        </div>
                    </div>
                </form>
            </div>
        </div>

    {% if recipes|length > 0 %}
    
        <div class="container">
            <div class="row">
                {% for recipe in recipes %}
                
                    <div class="col s12 l6">
                        <div class="card-panel rec-card">
                            <div class="card-main">
                                <div class="row content-margin">
                                    <div class="recipe-image col s5 m5 center container">
                                        <img class="img-sizing" alt="{{ recipe.rec_name }}" src="{{ recipe.rec_img }}">
                                    </div>
                                    <div class="content-margin col s7 m7 right container">
                                        <h5 class="recipe-header"><strong>{{ recipe.rec_name }}</strong></h5>
                                        <p><strong>Rating</strong></p>
                                        <p class="text">{{ recipe.description }}</p>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="row recipe-footer">
                                        <p class="col s4 center"><strong>Serves: {{ recipe.serves }}</strong></p>
                                        <p class="col s4 center"><strong>{{ recipe.cook_time }} min</strong></p>
                                        <p class="col s4 center"><strong>Level: {{ recipe.level }}</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
            
                {% endfor %}
            </div>
        </div>

    {% endif %}

</section>

{% endblock %}